.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.empty-cart-container{
    width: 100%;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-link{
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.products-link:visited{
    text-decoration: none;
    color: black;
}

.products-link:hover{
    color: orange;
}

.cart-checkout{
    border: 1px solid lightgrey;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-price-container{
    font-size: 18px;
    margin: 15px;
}

.checkout-button{
    background: #FFD814;
    border-color: #FCD200;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.checkout-button:hover{
    background: #F7CA00;
    border-color: #F2C200;
    box-shadow: 0 2px 5px 0 rgb(213, 217, 217 / 0.5);
}