.product-department-container{
    width: 100%;
    line-height: 14px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
}

.product-show-department:visited{
    text-decoration: none;
}
.product-show-department{
    text-decoration: none;
    color: #565959;
    margin-left: 5px;
    margin-right: 5px;
    
}

.product-show-department:hover{
    text-decoration: underline;
}

.product-show-img-container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.product-show-img{
    width: auto;
    height: auto;
    /* max-width: 1000px; */
}

.product-view-info{
    display: flex;
    font-size: 14px;
}

.product-show-name{
    font-size: 24px;
    margin-bottom: 15px;
}

.product-base-info{
    width: 400px;
    margin-right: 20px;
}

.product-show-prime-link, .product-show-return{
    color: #007185;
    cursor: pointer;
}

.product-show-prime-link:hover, .product-show-return:hover{
    color: #c45500;
}
.product-show-prime-link:hover{
    text-decoration: underline;
}

.product-show-bold-text{
    font-weight: bold;
}

.product-info,
.product-name-container,
.product-show-price-shipping,
.product-show-description-container{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}

.product-show-price-shipping,
.product-show-description-container{
    margin-top: 15px;
    line-height: 20px;
}

.product-show-item-price-container{
    /* margin-top: 15px; */
}

.product-show-buy-shipping{
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: fit-content;
    width: 180px;
    padding: 15px;
    line-height: 20px;
}

.product-show-description-title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-show-review-info{
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
}

.add-cart{
    background: #FFD814;
    border-color: #FCD200;
}

.add-cart:hover{
    background: #F7CA00;
    border-color: #F2C200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.buy-now{
    background: #FFA41C;
    border-color: #FF8F00;
}

.buy-now:hover{
    background: #FA8900;
    border-color: #E3931E;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.add-cart, .buy-now{
    border-radius: 20px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

