.review-form-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
}

.review-form-img{
  height: 62px;
  width: auto;
  margin-right: 15px;
}

.review-form-avatar{
  width: 34px;
  height: 34px;
  border-radius: 34px;
  border: 2px solid #FFF;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-form-topbar, .review-form-img{
  background-color: #DEFAFF;
}

.review-form-username{
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-form > div{
  width: 60%;
  margin-left: 20%;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-submit{
  margin-left: calc(80% - 63px);
  margin-top: 15px;
  background: #FFD814;
  border-color: #FCD200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213, 217, 217 / 50%);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px 11px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

.review-submit:hover{
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgb(213, 217, 217 / 0.5);
}

.review-form-product{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.review-headline-input{
  width: 95%;
  padding: 3px 7px;
  font-family: 'Times New Roman', Times, serif;
}

.review-body-input{
  width: 95%;
  padding: 5px 7px;
  height: 130px;
  font-family: 'Times New Roman', Times, serif;
  resize: vertical;
}

.no-access-message{
  width: 100%;
  height: 100vh;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

